/*
  ./frontend/src/styles/global.css
*/

/* Importer la police Oswald depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

:root {
  /* color */
  --color-background: #f0f0f0;
  --color-text-dark: #181741;
  --color-border: #4687af;
  --color-border-tab: #007bff;
  --color-border-shadow: rgba(0, 123, 255, 0.25);
  --color-link: #4687af;
  --color-hover: #ff5252;
  --color-placeholder: #b1aeae;
  --color-background-placeholder: #f9f9f9;
  --color-border-input: #747474;
  --color-border-input-focus: #007bff;

  /* Font */
  --font-family-menu: 'Comic Sans MS', sans-serif;
  --font-family-body: 'Calibri', 'Times New Roman', 'Comic Sans MS', 'Georgia', sans-serif;
  --font-family-headings: 'Oswald', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-medium: 1rem;

  /* Menu header */
  --nav-item-font-family: var(--font-family-menu);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: .04rem;
  --nav-item-margin: 0 0 0 2rem;
  --transition-duration: .3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);

  /* Header Menu */
  --color-button: #58b1ec;
  --nav-color-hover: #58b1ec;
  --nav-color-link: #2851c0;
  --menu-color-hover: #dee9f0;
}

.no-scroll {
  overflow: hidden;
}

html,
body {
  height: auto !important;
  margin: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  padding-top: 80px;
  font-family: var(--font-family-body);
  background-color: var(--color-background);
  color: var(--color-text-dark);
}

p {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headings);
}

.separator {
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid var(--color-hover);
}

/* Bouton global */
.button {
  padding: 10px 20px;
  margin: 10px 0;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px 2px var(--color-border-shadow);
  margin-bottom: 60px;
  background-color: var(--color-link);
  color: white;
  text-wrap: nowrap;
  font-size: 20px;
}

.button:hover {
  background-color: var(--color-hover);
}
