/* ./frontend//src/components/homePage/homeStyle.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-background);
}

@media (min-width: 600px) {
  .home-top {
    padding: 20px;
    /* Ajustements pour les écrans moyens */
  }
}

@media (min-width: 1024px) {
  .home-top {
    padding: 30px;
    /* Ajustements pour les grands écrans */
  }
}
